# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

# Better-Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:5173/"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
BETTER_AUTH_API_KEY=""

# Email
RESEND_API_KEY=""

# Payments
DODO_PAYMENTS_API_KEY=your_api_key_here
DODO_PAYMENTS_WEBHOOK_KEY=your_webhook_secret_here
DODO_PAYMENTS_ENVIRONMENT=test_mode
DODO_PAYMENTS_RETURN_URL=https://dodopayments.com/checkout/success